*{
    margin: 0;padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header{
    display:flex;
    height: 80px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #fbf3f3;
}


    
.logo{
    height:45px;
    margin-left: 4%;
}
.actions{
    margin-right: 4%;
}
.navi_bar{
    display: flex;
    min-width: 500px ;
    justify-content: space-between;
}
.navi_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 0;
    border-bottom: 3px solid #ffffff;

}
.navi_bar a:hover{
    border-bottom: 3px solid #f54e77;

}
.navi_bar a sup{
    font-size: 10px;
    color: #ff3f6c;
}
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
    

}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
    background-color: #f5f5f6;

}
.actions{
    display: flex;
    min-width: 208px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action_name{
    font-weight: 700;
    font-size: 12px;
    padding: 4px;
}



.banner_img{
    width: 100%;
}
.banner_container{
    margin: 40px 0;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;

}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sales_item{
    width: 250px;;
}
.footer_container{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.footer_column a{
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 5px;
    color: #696b79;
}
.copyright{
    color:#94969f;
    text-align: end;
    padding: 15px;
}